  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>GVPCE</h3>
            <p>Started in 1996, the college has very quickly established itself as one of the most-preferred private engineering colleges in Andhra Pradesh.GVP College of Engineering has 7 UG Programs, 13 PG Programs and 8 Departments were recognized as Research Centers by the affiliated University, JNTU-K, Kakinada.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href = "/public/uploads/privacy policy.pdf">Privacy Policy</a></li>
              <li><a href="/public/uploads/termsofuse.pdf"></a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Madhurawada, Kommadi <br>
              Andhra Pradesh, Visakhapatnam - 530048<br>
              India <br>
              <strong>Phone:</strong> +91-891-2739507 <br>
              <strong>Email:</strong> gvpce@yahoo.com<br>
            </p>



          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Find Us</h4>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
<!--             <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>HIeaGle </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Team HIeaGle</a>
      </div>
    </div>
  </footer><!-- End Footer -->