<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Developer Team - Alumni Association</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">
  <link href="../../public/styles/modalStyle.css" rel="stylesheet">
  <link href="../../public/styles/adminProfileButton.css" rel="stylesheet">
  
  <style>
    .image{
      width:180px !important;
      height:60px !important;
      max-height:inherit !important;
    }

  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a class ="image" href="/index"><img class ="image" src="../../public/uploads/logo.jpeg"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a class="active" href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a href="/events">Programs and Events</a></li>
          <li><a href="/services">Career Opportunities</a></li>
          <li><a href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>
          
          <!-- Modal content --> 
          <%- include('./modalLogin/modal') %>

          <% if(!user_type['admin'] && !user_type['alumni']){ %>
            <li><button class="getstarted" onclick="callMe()">Login</button></li>
          <% } else if(user_type['alumni']){ %>  
            
            <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
          <% } else if(user_type['admin']){ %>
            <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
          <% } %>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Team HIeaGle</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index">Home</a></li>
          <li>Team</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="../../public/styles/assets/img/team/member-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/iashtripathy"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/iash-tripathy-356030164/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Iash Kumar Tripathy</h4>
                <span>BTech CSE @ GVPCE 17131A0571</span>
                <p>A student pursuing his BTech final year in CSE at Gayatri Vidya Parishad College of Engineering.He loves to build large scale distributed systems applications that would be used by millions of users.  </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../../public/styles/assets/img/team/member-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/Gowtham04286583?s=09"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/gowtham.sai.1999"><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sai Gowtham</h4>
                <span>BTech CSE @ GVPCE 17131A05B9</span>
                <p>An Undergraduate student at Gayatri Vidya College of Engineering</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../../public/styles/assets/img/team/member-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/hitaksh23"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/hitaksh.hari/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/hitakshhari/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/hitaksh-hari-42b64a166"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hitaksh Hari</h4>
                <span>BTech CSE @ GVPCE 17131A0570</span>
                <p>An Undergraduate of Gayatri Vidya Parishad College of Engineering who likes to learn new technologies related to Big Data and cloud computing. His area of expertise is in DataBases and Integration.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="../../public/styles/assets/img/team/member-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/IllindaH?s=09"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/illinda.hemanth"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/hemanthillinda/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/illinda-hemanth-25b434164"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hemanth Illinda</h4>
                <span>BTECH CSE @ GVPCE 17131A0572</span>
                <p>An Undergraduate of Gayatri Vidya Parishad College of Engineering who likes to learn new technologies which helps in development of Web and mobile applications.His area of expertise is in Flutter App development,Front-end Web development,Power bi ,SQL Server.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!--FOOTER SECTION-->
  <%- include('./footer.ejs') %>
  <!--FOOTER ENDS-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>
  <%- include('./modalLogin/modalJavascript.ejs') %>
  s
</body>

</html>