<div id="outerMyModal" class="outerModal">
    <div class="inner-modal-content">
      <span class="closeModal" onclick="closed()">&times;</span>
      <div id="outer">
        <li class="list-class"><a class="alad-login" href="/alumni/login">Alumni Login</a></li>
        <li class="list-class"><a class="alad-login" href="/admin/login">Admin Login</a></li>
      </div>
    </div>
</div>