<html>
    <head>
        <title>Loginpage</title>
        <link rel="stylesheet"  type="text/css" href="../public/styles/alumniLogin.css">
    </head>
    <body>
        <div class="alumnireg">
            <h1>ADMIN LOGIN</h1>
            <form action="/admin/login" method="post">
                <input type="text" name="username" placeholder="Enter Username" ><br><br>
                <input type="password" name="password" placeholder= "Enter password" ><br><br>
                <input type="submit" value="SUBMIT"><br><br>
               
            </form>
            
        </div>
    </body>

</html>
