<html>
    <head>
        <title>registrationpage</title>
        <link rel="stylesheet"  type="text/css" href="../public/styles/alumniRegistration.css">
    </head>
    <body>
        <div class="alumnireg">
            <h1>ALUMNI REGISTRATION</h1>
            <form action="/alumni/register/basic" method="post">
                <input type="text" name="collegeName" placeholder="college Name" ><br><br>
                <input type="text" name="alumniName" placeholder="Alumni Name" ><br><br>
                <input type="text" name="rollNo" placeholder= "Alumni Roll No" ><br><br>
                <input type="email" name="email" placeholder= "Enter Email" ><br><br>
                <input type="password" name="password" placeholder= "Enter Password" ><br><br>
                <input type="submit" value="SUBMIT"><br><br>
               
            </form>
            
        </div>
    </body>

</html>
