<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changing Password</title>
    <link rel="stylesheet"  type="text/css" href="../public/styles/alumniLogin.css">
</head>
<body>
    <div calss="alumnireg">
        <h1>Reset Password Here</h1>
        <form action="/alumni/updatePassword?_method=PUT" method="post">
            <input type="email" name="email" value="<%= email %>" placeholder="Alumni Email" readonly><br><br>
            <input type="password" required name="password" placeholder="Enter New Password" ><br><br>
            <input type="submit" value="SUBMIT"><br><br>
        </form>   
    </div>
</body>
</html>