<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mainpage</title>
        <link rel="stylesheet" href="../public/styles/mainPage.css">
    </head>
    <body>
        <div class="mainPage">
            <div class="header">
                <img class = "gradutaionCap" src="./images/graduationCap.jpg">
            </div>
            <div class = "mainImage">
                <img class = "image" src="./images/mainPageTop.jpeg">
            </div>
            <div class = "content">
                <div class = "common" id = "left">

                </div>
                <div class = "common" id = "right">

                </div>
                
            </div>
            <div class = "news">
                    
            </div>
            <div class = "footer">

            </div>
        </div>
    </body>

</html>
